.patrocinio{
	position:relative;
	top:64px;
	z-index: -2;
}

.retangulo{
	height:170px;

}



.esquerdo img{
	position:absolute;
	max-height: 150px;
	max-width: 150px;
	top:8%;
	margin-left:30px;
	margin-right:30px;
}

.esquerdo span{
	font-size: 20px;
	color:white;
	position:absolute;
	left:180px;
	margin-left:30px;
	margin-top:20px;
}

.esquerdo p{
	position:absolute;
	left:180px;
	top:25px;
	color:white;
	margin-left:30px;
	margin-top:20px;
}

#coca{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background: #4A525A;
}

#shell{
	position:absolute;
	left:0;
	width:100%;
	top:170px;
	background: #232323;

}

#nike{
	position:absolute;
	left:0;
	width:100%;
	top:340px;
	background: #D4AA7D;

}

#br{
	position:absolute;
	left:0;
	width:100%;
	top:510px;
	background:#272727;
}

#br img{
	height:140px;
	width:140px;
}

#adidas{
	position:absolute;
	height:150px;
	left:0;
	width:100%;
	top:680px;
	background: #4A525A
}

#adidas img{
	height:120px;
	width:120px;
}


